MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=menu_db
MYSQL_USER=menu_user
MYSQL_PASSWORD=change_me
# Optionnel: URL JDBC explicite, prioritaire si renseignee
# MYSQL_URL=jdbc:mysql://localhost:3306/menu_db?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
